body{
	background-image: url('http://s3.amazonaws.com/filepicker-images-rapgenius/tvThuMmoTtmRU9pgJLJl_animated-gif-music.gif');
	background-size: cover;
}
h2{
	color: #00FF00;
	background-color: black;
}

li  {
	margin:0 auto;
	font-style: bold;
	list-style: none;
	border: 2px solid;
	text-align: center;
}

.alignright{
	background-color: black;
}
.bold {
	text-align: center;
	font-style: strong;
}
.img-responsive{
	margin: 0 auto;
}
#header-top{
	background-color: black;
}
#well-search {
	width: 45%;
	margin: 0 auto;
}

#login-btn {
    display: inline;
}

#logout-btn {
    display: none;
}
#signup-btn {
    display: inline;
}
#sidebar{
	width:300px;
	opacity: 50%;
}
#add-btn{
	margin-bottom: 20px;
	margin-left: 45%;
	width: 100px;
}
#sidebar{
	background-color: red;
}
#bands{
	margin: 0 auto;
	width:600px;
	background-color: black;
}
#myCarousel{
	width: 700px;
	height: 400px;
}
#sidebar{
	opacity: 0.9;
}